*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(244, 213, 218);
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart{
    transform: rotate(45deg);
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
}

.heart::after{
    content:"";
    height: 100px;
    width:100px;
    border-radius: 50%;
    position: absolute;
    left:-50px;
    background-color: red;
}

.heart::before{
    content:"";
    height:100px;
    width:100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top:-50px;
}



/* small hearts */
.small-heart{
    width:30px;
    height:30px;
}
.small-heart::after{
    width:30px;
    height:30px;
    left:-15px;
}
.small-heart::before{
    width:30px;
    height:30px;
    top:-15px;
}

/* seperate classes used for positions */
.heart-1{
    top:100px;
    left:100px;
}
.heart-2{
    top:200px;
    left:200px;
}